<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EventWise</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Participants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/{userId}/events/create">Create Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/{userId}/events/event-list">Events</a>
      </li>
    </ul>
    <span class="navbar-text">Welcome, [Username]</span>
  </div>
</nav>
<div class="container">
  <h2>Create User</h2>
  <!-- Form content goes here -->
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


