<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>EventWise</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EventWise</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Participants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/{userId}/events/create">Create Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/{userId}/events/event-list">Events</a>
      </li>
    </ul>
    <span class="navbar-text">Welcome, [Username]</span>
  </div>
</nav>

<h2>Events</h2>
<div class="container">
  <div class="row">
    <div th:each="event : ${events}" class="col-md-4 mb-4">
      <div class="card">
        <img th:src="${event.eventImageUrl}" class="card-img-top" alt="Event Image">
        <div class="card-body">
          <h5 class="card-title" th:text="${event.eventName}"></h5>
          <p class="card-text" th:text="${event.eventDescription}"></p>
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-danger">Delete</a>
          <a th:href="@{'/user/' + ${userId} + '/events/' + ${event.eventId} + '/participants'}" class="btn btn-info">View Participants</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
