<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{navbar.html :: headerfiles}">
</head>
<body>
&lt;!&ndash; Include the navbar fragment &ndash;&gt;
<header th:insert="~{navbar.html :: nav}"></header>

<div class="container">
    <h2>Login</h2>
    <form th:action="@{/user/login}" th:object="${login}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" th:field="*{userName}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>

    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
</div>


<noscript th:insert="~{navbar.html :: jsfragment}" ></noscript>

<script>
    function resetForm() {
        document.getElementById("createEventForm").reset();
    }
</script>

</body>
</html>
-->
