<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
  <meta charset="UTF-8">
  <title>EventWise</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:fragment="nav">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EventWise</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/{userId}/events/participants" th:href="@{'/user/' + ${userId} + '/events/participants'}">Participants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/{userId}/events/participants" th:href="@{'/user/' + ${userId} + '/events/participants'}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/{userId}/events/create" th:href="@{'/user/' + ${userId} + '/events/create'}">Create Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/{userId}/events/event-list(userId=${userId})}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/signup}">Signup</a>
        </li>
      </ul>
      <span class="navbar-text" th:text="'Welcome, ' + ${username}">Welcome, [Username]</span>
    </div>
  </nav>
</div>

<noscript th:fragment="jsfragment">
  <!-- Separate Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</noscript>

</body>
</html>