<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="navbar.html :: headerfiles">
</head>
<body>
<!-- Include the navbar fragment -->
<header th:insert="navbar.html :: nav"></header>

<h2>Event Participants</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th>Participant ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Organizer Approval</th>
          <th>Participant Approval</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="participant : ${participants}">
          <td th:text="${participant.id}"></td>
          <td th:text="${participant.firstName}"></td>
          <td th:text="${participant.lastName}"></td>
          <td th:text="${participant.email}"></td>
          <td th:text="${participant.organiserHasApproved} ? 'Approved' : 'Pending'"></td>
          <td th:text="${participant.participantHasApproved} ? 'Approved' : 'Pending'"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Separate Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
